.meetVideoContainer {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #0b0f19;
  overflow: hidden;
}


.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;
}

.buttonContainers {
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg {
    font-size: 3rem;
}

.conferenceView { 

    display: flex;
    
    padding: 10px;
    gap: 10px;
}

.conferenceView  video {
    width: 40vw;
    height: 20vh;
    min-width: 30vw;
    border-radius: 10px;
}

.chatRoom {
  position: absolute;
  right: 0;
  top: 5px;
  height: 100%;
  width: 380px;
  background: white;
  box-shadow: -4px 0 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  z-index: 10;
  border-radius: 10px;
}
.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px;
}


.chattingArea {
    display: flex;
    gap: 10px;
      margin-top: 10px;
   

}
.chattingDisplay {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-bottom: 10px;
    


}

.myMessage {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.otherMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.senderName {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 2px;
}

.messageBubble {
    padding: 8px 12px;
    border-radius: 15px;
    max-width: 60%;
    word-wrap: break-word;
    font-size: 14px;
}

.myMessage .messageBubble {
    background-color: #1976d2;
    color: white;
    border-bottom-right-radius: 3px;
}

.otherMessage .messageBubble {
    background-color: white;
    color: black;
    border-bottom-left-radius: 3px;
}
